.contact{
    display:none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.594);
    backdrop-filter: blur(3px);
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    gap:35px;
}

.contact.active{
    display:grid;
}
.contactForm{
    width: 700px;
    height: 500px;
    border: 1px solid white;
}

input, textarea{    
    position: relative;
    left: 66%;
    width:400px;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
}




     .contact a {
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 5px;
            background: red;
            color: white;
            position: absolute;
            top: 100px;
            right: 20px;
        }

       .contact #i {
            position: relative;
            top: 7px;
        }


          @media (max-width: 412px) {

            input, textarea{
                 position: relative;
                 left: 0;
                 z-index: 100000000;
            }
          }