.contact{
    display:none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000000000000;
    background: rgba(0, 0, 0, 0.594);
    backdrop-filter: blur(3px);
    /* gap:10px; */
}
.btn{
    width: 400px;
    position: relative;
    top: 0px;
}
.contact.active{
    display:flex;
}
#contactForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 500px;
    /* border: 1px solid white; */
}

input, textarea{    
    /* position: relative; */
    /* left: 66%; */
    width:400px;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
                 z-index: 100000000;
}




     .contact a {
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 5px;
            background: red;
            color: white;
            position: absolute;
            top: 100px;
            right: 20px;
        }

       .contact #i {
            position: relative;
            top: 7px;
        }

