 .login-box{
      background:#fff;
      width:300px;
      height: 500px;
      padding:4px 10px;
      border-radius:15px;
      text-align:center;
      box-shadow:0 0px 20px 15px rgba(63, 45, 146, 0.571);
      border:5px solid transparent;
      transition:0.4s;
    }


#loge{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10000000000;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.717);
    backdrop-filter: blur(3px);
}

 #loge.active{
            display: flex;
 }

#loge #a {
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 5px;
            background: red;
            color: white;
            position: absolute;
            top: 50px;
            right: 20px;
        }

       #loge #i {
            position: relative;
            top: 6px;
        }

      



    .login-box:hover{
      border:5px solid rgba(63, 45, 146, 0.571);
    }

  .login-box  h1{
    position: relative;
    top: -80px;
      /* margin-bottom:10px; */
      color:#333;
    }

    .input-box{
      width:100%;
      position: relative;
      top: -40px;
      text-align:left;
      margin-bottom:20px;
      border-bottom:1px solid #333;
    }

    .input-box label{
      font-size:14px;
      color:#555;
      display:block;
      margin-bottom:5px;
    }

    .input-box input{
      width:95%;
      padding:10px;
      border:none;
      outline:none;
      font-size:14px;
      border-radius:8px;
    }

   .login-box button{
    position: relative;
      top: -40px;
      width:100%;
      padding:10px;
      border:none;
            background: linear-gradient(135deg, orange, black);
      color:white;
      font-size:16px;
      border-radius:8px;
      cursor:pointer;
      margin-top:10px;
      transition:0.5s;
    }

  .login-box  button:hover{
     box-shadow: 0 0 10px 5px orange;
    }

    .forgot{
        position: relative;
      top: -40px;
      display:block;
      margin-top:10px;
      font-size:13px;
      color:#2575fc;
      text-decoration:none;
      text-align:right;
    }

    .sociial{
        position: relative;
      top: -50px;
      width:100px;
      height:50px;
      color:darkcyan;
      display:flex;
      justify-content:center;
      align-items:center;
      gap:10px;
      font-size:20px;
      margin:20px auto;
    }

    .signup{
position: relative;
      top: -70px;
      font-size:14px;
      color:#555;
      line-height:1;
    }

    .signup a{
        position: relative;
      top: 0px;
      color:#2575fc;
      text-decoration:none;
    }